/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/*LABELS*/

}

labels.less:9
.label {
    /* display: inline; */
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    /* line-height: 1; */
    color: #fff;
    align: left;
    text-align: left;
    /* white-space: nowrap; */
    vertical-align: baseline;
    border-radius: .25em;
}

.label-guia {
  background-color: #BC4002;
  text-decoration: none;
  color: #FFF;
}
.label-guia[href]:hover,
.label-guia[href]:focus {
  background-color: #993300;
}
.label-soyalumno {
  background-color: #5D4485;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

.parrafo{
  text-align: justify;
  text-justify: inter-word;
}
.row-m-t{
  margin-top : 20px
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
  width: 100%;
}

.thumbnail {
    background-color: #d8d8d8;
    height: inherit;
    margin-top: 17px;
    margin-bottom: 15px;

    border-right: 4px solid #fff;
}

.thumbnail-experto{
   background-color: #79c7c7;
   padding: 1.1em;
   border-radius: 15px;
   margin-bottom: 15px;
}
.thumbnail-fundacionuned{
   background-color: #689657;
   padding: 1.1em;
   border-radius: 15px;
   margin-bottom: 15px;
}

.thumbnail-promocion{
  background-color: #FFDB00;
  border-radius: 15px;
  padding: 1.1em;
  margin-bottom: 15px;
}

.thumbnail-videopresentacion{
  background-color: #FFDB00;
  border-radius: 15px;
  padding: 1.1em;
  margin-bottom: 15px;
}

.thumbnail-matricula{
  background-color: #f7f274;
  border-radius: 15px;
  padding: 1.1em;
  margin-bottom: 15px;
}

.thumbnail-clinica{
   background-color: #C797C3;
   margin-bottom: 15px;

border-radius: 15px;
}

.imagen-carousel{
  background-size: cover ;
}

body{
  background-color: #F7F7F7;
}

.lineaCol{
  border: 1px solid red; 
}

.footer-custom{

  bottom: 0%;
  background-color: #555555;
  margin: 0 auto;

}

