@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Lato', sans-serif;
  text-align: center;

}

 /* EXPERTO background-color: #79c7c7;*/
 /* CLINICA background-color:#C797C3;*/

 /*------FIVE-----*/
.five h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
.five p {
  font-size: 18px;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}


.five {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.five > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.five > li img {
  margin-top: -5px;
}
.five > li:hover img {
  margin-top: 30px;
}
.five > li img.more-about {
  left: 103px;
  padding: 1px;
  position: absolute;
  width: 45px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 30px;
}
.five > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.five > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  top: -300px;
  background: #689657;
}

.five > li:hover span p {
  color: white;
  font-size: 14px;
}
.five > li span .text-wrapper {
  opacity: 0;
}
.five > li:hover span .text-wrapper {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  opacity: 1;
}
.five > li:hover .social {
  margin-top: 250px;
}
.five > li:hover .wrapper > img {
  display: none;
}
.five > li:hover h3 {
  color: #689657;
  margin-top: -105px;
}
.five > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 350px;
}
.five > li span {
  display: block;
  height: 500px;
  left: -125px;
  position: absolute;
  top: -490px;
  width: 500px;
  background: #689657;
}
.five .mamber-img {
  width: 100px;
}
.five > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
 margin-top: 5px  color: #2F7ABE;
}
.five .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.five .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.five > li:hover .social li {
  opacity: 0.5;
}
.five .social li a {
  cursor: pointer;
  display: block;
}
.five .social li a:hover {
  opacity: 0.5;
}
.five .social li img {
  width: 24px;
}
.five > li:hover .social li a {
  -webkit-animation: social-show 0.5s 1;
  -moz-animation: social-show 0.5s 1;
  -o-animation: social-show 0.5s 1;
  animation: social-show 0.5s 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.five .social li img {
  width: 24px;
}



 /*------SEVEN-----*/
.seven h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
.seven p {
  font-size: 18px;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.seven .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}


.seven {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.seven > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.seven > li img {
  margin-top: -5px;
}
.seven > li:hover img {
  margin-top: 30px;
}
.seven > li img.more-about {
  left: 103px;
  padding: 1px;
  position: absolute;
  width: 45px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 30px;
}
.seven > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.seven > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  top: -300px;
  background: #5cb3b3;
}

.seven > li:hover span p {
  color: white;
  font-size: 14px;
}
.seven > li span .text-wrapper {
  opacity: 0;
}
.seven > li:hover span .text-wrapper {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  opacity: 1;
}
.seven > li:hover .social {
  margin-top: 250px;
}
.seven > li:hover .wrapper > img {
  display: none;
}
.seven > li:hover h3 {
  color: #5cb3b3;
  margin-top: -105px;
}
.seven > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 350px;
}
.seven > li span {
  display: block;
  height: 500px;
  left: -125px;
  position: absolute;
  top: -490px;
  width: 500px;
  background: #5cb3b3;
}
.seven .mamber-img {
  width: 100px;
}
.seven > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
 margin-top: 5px  color: #2F7ABE;
}
.seven .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.seven .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.seven > li:hover .social li {
  opacity: 0.5;
}
.seven .social li a {
  cursor: pointer;
  display: block;
}
.seven .social li a:hover {
  opacity: 0.5;
}
.seven .social li img {
  width: 24px;
}
.seven > li:hover .social li a {
  -webkit-animation: social-show 0.5s 1;
  -moz-animation: social-show 0.5s 1;
  -o-animation: social-show 0.5s 1;
  animation: social-show 0.5s 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.seven .social li img {
  width: 24px;
}

 /*------SIX-----*/
.six h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
.six p {
  font-size: 18px;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.six .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}


.six {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.six > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.six > li img {
  margin-top: -5px;
}
.six > li:hover img {
  margin-top: 30px;
}
.six > li img.more-about {
  left: 103px;
  padding: 1px;
  position: absolute;
  width: 45px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 30px;
}
.six > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.six > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  top: -300px;
  background: #ab5aa4;
}

.six > li:hover span p {
  color: white;
  font-size: 14px;
}
.six > li span .text-wrapper {
  opacity: 0;
}
.six > li:hover span .text-wrapper {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  opacity: 1;
}
.six > li:hover .social {
  margin-top: 250px;
}
.six > li:hover .wrapper > img {
  display: none;
}
.six > li:hover h3 {
  color: #ab5aa4;
  margin-top: -105px;
}
.six > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 350px;
}
.six > li span {
  display: block;
  height: 500px;
  left: -125px;
  position: absolute;
  top: -490px;
  width: 500px;
  background: #C797C3;
}
.six .mamber-img {
  width: 100px;
}
.six > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
 margin-top: 5px  color: #ab5aa4;
}
.six .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.six .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.six > li:hover .social li {
  opacity: 0.5;
}
.six .social li a {
  cursor: pointer;
  display: block;
}
.six .social li a:hover {
  opacity: 0.5;
}
.six .social li img {
  width: 24px;
}
.six > li:hover .social li a {
  -webkit-animation: social-show 0.5s 1;
  -moz-animation: social-show 0.5s 1;
  -o-animation: social-show 0.5s 1;
  animation: social-show 0.5s 1;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.six .social li img {
  width: 24px;
}
 @-webkit-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-moz-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @-o-keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}
 @keyframes social-show {
 from {
margin-top: 140px;
}
to {
  margin-top: 0px;
}
}


